<h3>Meetings</h3>

<div id="meeting_search">
  
</div>

<div>
  <% @meetings.each do |meeting| %>
    <%= link_to "#{meeting.location} on #{meeting.occurs_at.to_s(:long) }", meeting %><br/>
  <% end %>
</div>

<% admin_only_content do %>
  <%= link_to 'Create a new meeting', new_meeting_path %>
<% end %>

<%= link_to 'Back to main', :controller => :welcome %>