<div>
    <dl>
	<dt>Login</dt>
	<dd><%= user.login %></dd>
	
    <% if user.admin? %>
	<dt>Admin</dt>
	<% end %>
	
	<dt>Skills</dt>
	<dl><%= user.skills.join(', ') %></dl>
	
	<dt><%= link_to "View Profile", user_path(user) %></dt>
</div><br/>