<h1>University Technology Bill of Rights</h1>

<p>The premise is simple: Students should have free choice in software used for University-related purposes.  To accomplish
 this, the University should adopt a policy promoting open standards for document and file exchange.</p>

<p>We are not a point where we are ready to make a recommendation, but we will soon begin asking for input
from students, faculty, administration, and <a href="http://uto.asu.edu/" title="University Technology Office">UTO</a>.</p>

<p style="font-weight:bold">Talk and results of brainstorming session given 2008-10-06: <a href="http://mail.asusoda.com/pres_archive/billofrights/brainstorming.pdf">brainstorming.pdf</a></p>

<p>Much thanks is owed to the pioneering and inspiring <a href="http://www.mass.gov/?pageID=itdsubtopic&L=5&L0=Home&L1=Application+Services&L2=Shared+Services&L3=Open+Initiatives&L4=OpenDocument&sid=Aitd">State of Massachusetts</a>.</p>