	<h2>DOWNTIME &amp; CHANGES EXPECTED</h2>
		<p>
			We are in the process of moving to another server (a/o Nov. 12&amp;13, 2008). Hang tight. 
		</p>
	<h2>Why Join SoDA?</h2>
		<p><abbr title="Software Developers Association">SoDA</abbr>, 
		formerly known as the Windows Interest Group,
		 is a group of people at Arizona State University who are interested in
		programming or software engineering.&nbsp; We hold regular meetings
		and discuss technology, software development, security, tips, and
		whatever we feel is interesting.&nbsp; Join us by signing
		up for our mailing list, below, and we&rsquo;ll let you know
		when our next meetings is.</p>
	  <form action="http://mail.asusoda.com/mail.cgi" method="get">
	  <input type="hidden" name="list" value="soda" />
	  <input type="hidden" name="f" value="subscribe" />
	  <label for="yourEmailforSubsc">Sign up: </label>
	  <input id="yourEmailforSubsc" type="text" name="email" value="email address" size="16" 
	  title="Your Email Address" onfocus="if(this.value=='email address') {this.value='';}" />
	  <input type="submit" value="Join" />
	  </form>
	
	<h2>Announcing our first hack-a-thon</h2>
	<p>Bring an exciting project, work with others, or collaborate on our website. This dev camp
	is a low-key, high-productivity collaborative programming event.  When: All day and night, Saturday, Nov. 15. Where: Brickyard Lab. 
	</p>
	
	<div class="colorfulFloatRight smallFloat">
		<p>Check meeting times whenever &ndash; just text “SODA” to 41411!</p>
	</div>
	
	<!-- Note that TextMarks will look for text between "Next SoDA 
	Meeting" and "Archived Presentations" when someone texts
	"SODA" to 41411. "display:none;" means don't show on website,
	but include in SMS text message! -->
	<h2>Next SoDA Meeting</h2>
	<!-- we used to use the hCalendar microformat. But since the ABBR tag is an 
	accessibility issue and client-side support for microformats is nil, it is more ideal
	to just link to an iCal event file.	-->
	<p class="italicOFF">Wednesday, November 19, at 6:15pm in BYENG 210: More tech talks and University Technology Bill of Right continuation. Please RSVP to <a href="javascript:void(0);" onclick="this.href='mailto:'+this.innerHTML;">news&#x40;asusoda.com</a>.</p>
	<span style="display: none;">http://asusoda.com to join.</span>
	
	
	<h2>Archived Presentations</h2>
	<p>Whether you missed the meeting or just want to refer to a useful tech talk's slides,
		you'll find what you need here.</p>
		<table summary="Presentations given at SoDA" class="data">
		<thead>
		<!--<tr>
			<th colspan="2" scope="colgroup">Presentation</th>
			<th colspan="4" scope="colgroup">Download</th>
		</tr>-->
		<tr>
			<th scope="col">Tech Talk</th>
			<th scope="col">Date Given</th>
			<th scope="col">Download</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Program &amp; Compiler Optimizations</td>
			<td>2008-04-28</td>
			
			<td><a href="/pres_archive/optimizing.andrew.soda.zip" title="Download ZIP archive of presentation and supporting files" class="origFormat">ZIP</a><span class="finePrint"> of presentation
			 (ODP, PDF, PPT) <br />and supporting files</span></td>
		</tr>
		<tr>
			<td>YouTube Scalability Redux</td>
			<td>2008-04-28</td>
			
			<td><a href="/pres_archive/youtube.ppt" title="Download for PowerPoint" class="origFormat">PPT</a> <a href="/pres_archive/youtube.pdf" title="Download as PDF">PDF</a></td>
		</tr>
		<tr>
			<td>Service Oriented Computing Research</td>
			<td>2008-04-28</td>
			
			<td><a href="/pres_archive/ServiceOriented.Balasooriya.ppt" title="Download for PowerPoint" class="origFormat">PPT</a> <a href="/pres_archive/ServiceOriented.Balasooriya.pdf" title="Download as PDF">PDF</a></td>
		</tr>
		<tr>
			<td>Email Header Injection Attacks</td>
			<td>2008-04-08</td>
			
			<td><a href="/pres_archive/Email%20Header%20Injection%20Attacks.ppt" title="Download for PowerPoint">PPT</a>
			<a href="/pres_archive/Email%20Header%20Injection%20Attacks.key.zip" title="Download for Keynote (original format)" class="origFormat">.key.zip</a> <a href="/pres_archive/Email%20Header%20Injection%20Attacks.html" title="View as Website (images)">HTML</a></td>
		</tr>
		<tr>
			<td>Windows Vista Security</td>
			<td>2008-04-08</td>
			
			<td><a href="/pres_archive/Windows%20VISTA%20security.pptx" title="Download for PowerPoint 2007 (original format)">PPTX</a>
				<a href="/pres_archive/Windows%20VISTA%20security.pdf" title="Download as PDF">PDF</a></td>
		
		</tr>
		<tr>
			<td>Twitter</td>
			<td>2008-04-08</td>
			<td><a href="/pres_archive/Twitter.ppt" title="Download">PPT</a> <a href="/pres_archive/Twitter.key.zip" title="Download for Keynote (Original)" class="origFormat">.key.zip</a> <a href="/pres_archive/Twitter.html" title="Download">HTML</a></td>
		</tr>
		
		<tr>
			<td>3D Rendering</td>
			<td>2008-09-15</td>
			<td><a href="/pres_archive/3D_Computer_Graphics-Josh_Wolfe.pdf" title="Download for PowerPoint (Original)" class="origFormat">PDF</a> <a href="/pres_archive/3D_Computer_Graphics-Josh_Wolfe.pdf" title="Download PDF">PDF</a></td>
		</tr>
		
		<tr>
			<td>Cocoa Development (iPhone, OS X)</td>
			<td>2008-09-15</td>
			<td><a href="http://losectrl-gaincommand.com/iCodeBlogSegmentedTableView.mov" title="View movie">MOV</a></td>
		</tr>
		
		<tr>
			<td>SVN and Version Control</td>
			<td>2008-09-15</td>
			<td><a href="http://www.youtube.com/user/asusoda">YouTube</a><!--<a href="/pres_archive/3D_Computer_Graphics-Josh_Wolfe.pdf" title="Download for PowerPoint (Original)" class="origFormat">PDF</a> <a href="/pres_archive/3D_Computer_Graphics-Josh_Wolfe.pdf" title="Download PDF">PDF</a>--></td>
		</tr>
		
		<!-- NEW PRESENTATIONS GO RIGHT ABOVE THIS LINE-->
		<tr class="additionalRowsSortof">
			<td colspan="3"><em><strong>Have an older presentation?</strong> 
			<a href="http://alanhogan.com/contact?reason=old_soda_pres" 
			title="Contact Alan Hogan">Contact Alan</a>
			and he will add it here.</em></td>
		</tr>
		
		</tbody>
		</table>

	<div id="twitter_div">
	<h2 class="twitter-title">Latest Updates via Twitter</h2>
	<p>SoDA is tweeting as @<a href="http://twitter.com/asusoda">asusoda</a>.</p>
	<ul id="twitter_update_list"><li><em>Loading</em></li></ul>
	</div><!--#twitter_div-->

<!--load tweets. TODO: move to onload handler -->
<script type="text/javascript" src="/js/soccio-twitter-blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/asusoda.json?callback=twitterCallback2&amp;count=4"></script>