<h1>Robotics 2008</h1>
<h3>Members</h3>
<ul>
	<li>Advisor <a href="http://www.public.asu.edu/~ychen10/">Dr. Yinong Chen</a></li>
	<li>Master’s candidate <a href="http://www.public.asu.edu/~aasabnis/">Ashutosh Sabnis</a></li>
	<li>Joseph Pfeister</li>
	<li><a href="http://alanhogan.com/asu/">Alan Hogan</a></li>
</ul>

<h3>Photos</h3>

<a href="http://www.flickr.com/photos/alanhogan/3093437995/" title="“Dog” robot by Alan H., on Flickr"><img 
src="http://farm4.static.flickr.com/3078/3093437995_c94c492034.jpg" width="500" height="375" alt="“Dog” robot" /></a>

<a href="http://www.flickr.com/photos/alanhogan/3094280494/" title="“Dog” robot and master robot by Alan H., on Flickr"><img src="http://farm4.static.flickr.com/3241/3094280494_9a3eb8d918.jpg" width="500" height="479" alt="“Dog” robot and master robot" /></a>

<a href="http://www.flickr.com/photos/alanhogan/3094280250/" title="“Dog” robot by Alan H., on Flickr"><img src="http://farm4.static.flickr.com/3117/3094280250_ff0e71c67e.jpg" width="500" height="375" alt="“Dog” robot" /></a>

<a href="http://www.flickr.com/photos/alanhogan/3093437259/" title="Master robot by Alan H., on Flickr"><img src="http://farm4.static.flickr.com/3009/3093437259_9c04d3d4fa.jpg" width="500" height="346" alt="Master robot" /></a>

<a href="http://www.flickr.com/photos/alanhogan/3093436977/" title="Master robot by Alan H., on Flickr"><img src="http://farm4.static.flickr.com/3064/3093436977_0006724110.jpg" width="500" height="391" alt="Master robot" /></a>