<h1>Robotics 2008</h1>
<h3>Members</h3>
<ul>
	<li>Advisor <a href="http://www.public.asu.edu/~ychen10/">Dr. Yinong Chen</a></li>
	<li>Master’s candidate <a href="http://www.public.asu.edu/~aasabnis/">Ashutosh Sabnis</a></li>
	<li>Joseph Pfeister</li>
	<li><a href="http://alanhogan.com/asu/">Alan Hogan</a></li>
</ul>
<p>Photos and more information are coming soon.</p>